.cloudsRight {
    -webkit-animation: cloud_right_to_left 3s linear normal forwards;
    animation: cloud_right_to_left 3s linear normal forwards
}

.cloudsLeft {
    -webkit-animation: cloud_left_to_right 3s linear normal forwards;
    animation: cloud_left_to_right 3s linear normal forwards
}

@-webkit-keyframes cloud_left_to_right {
    0% {
        opacity: 0;
        left: -1280px;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2);
        z-index: 999
    }
    50% {
        opacity: 1;
        left: 0;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2);
        z-index: 999
    }
    100% {
        opacity: 0;
        left: 1280px;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2);
        z-index: 999
    }
}

@keyframes cloud_left_to_right {
    0% {
        opacity: 0;
        left: -1280px;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2);
        z-index: 999
    }
    50% {
        opacity: 1;
        left: 0;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2);
        z-index: 999
    }
    100% {
        opacity: 0;
        left: 1280px;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2);
        z-index: 999
    }
}

@-webkit-keyframes cloud_right_to_left {
    0% {
        z-index: 1000;
        opacity: 0;
        left: 1280px;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2)
    }
    50% {
        z-index: 1000;
        opacity: 1;
        left: -0px;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2)
    }
    100% {
        z-index: 1000;
        opacity: 0;
        left: -1280px;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2)
    }
}

@keyframes cloud_right_to_left {
    0% {
        z-index: 1000;
        opacity: 0;
        left: 1280px;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2)
    }
    50% {
        z-index: 1000;
        opacity: 1;
        left: -0px;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2)
    }
    100% {
        z-index: 1000;
        opacity: 0;
        left: -1280px;
        -webkit-transform: scale(2, 2);
        transform: scale(2, 2)
    }
}
