/*色字动画效果*/

.dice-all{
    width:100%;
    height: 100%;
    left:0px;
    top:0px;
    position: absolute;
    display: none;
}

.dice {
    width:100%;
    height: 100%;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -72px;
    margin-top: -49px;;
    opacity: 1;
}


.dice-shadow{
    width:100%;
    height: 100%;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -72px;
    margin-top: -49px;;
    opacity: 1;
}

.floating-dice{
    width:100%;
    height: 100%;
    position: absolute;
    left:0px;
    top:0px;
    opacity: 0.7;
    background: gray;
}

.dicecount {
    width: 100%;
    height:100%;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -140px;
    margin-top:52px ;
    color: #61b0cf;
    top: 480px;
    font-size: 45px;
}