.point1 {
    left: 78px;
    top: 320px
}

.point4 {
    left: 395px;
    top: 320px
}

.point5 {
    left: 506px;
    top: 320px
}

.point7 {
    left: 506px;
    top: 470px
}

.point8-l {
    left: 446px;
    top: 470px
}

.point8-h {
    left: 446px;
    top: 448px
}

.point9-h {
    left: 343px;
    top: 448px
}

.point9-l {
    left: 343px;
    top: 470px
}

.point9 {
    left: 295px;
    top: 470px
}

.point10-l {
    left: 140px;
    top: 470px
}

.point10-h {
    left: 140px;
    top: 448px
}

.point11 {
    left: 75px;
    top: 448px
}

.point12 {
    left: 75px;
    top: 520px
}

.point13 {
    left: 75px;
    top: 595px
}

.point13-l {
    left: 130px;
    top: 595px
}

.point13-h {
    left: 130px;
    top: 575px
}

.point14-h {
    left: 223px;
    top: 575px
}

.point14-l {
    left: 223px;
    top: 585px
}

.point15 {
    left: 285px;
    top: 585px
}

.point17 {
    left: 505px;
    top: 585px
}

.point19 {
    left: 505px;
    top: 730px
}

.point20-l {
    left: 398px;
    top: 730px
}

.point20-h {
    left: 398px;
    top: 710px
}

.point21-h {
    left: 228px;
    top: 710px
}

.point21-l {
    left: 228px;
    top: 730px
}

.point22 {
    left: 195px;
    top: 730px
}

.point23 {
    left: 75px;
    top: 730px
}

.point25 {
    left: 75px;
    top: 878px
}

.point25-l {
    left: 135px;
    top: 878px
}

.point25-h {
    left: 135px;
    top: 850px
}

.point26-h {
    left: 240px;
    top: 850px
}

.point26-l {
    left: 240px;
    top: 872px
}

.point28 {
    left: 396px;
    top: 872px
}

.point29 {
    left: 505px;
    top: 872px
}

.point30 {
    left: 490px;
    top: 990px
}